.menu{
    display: none;
    width: 100px;
    gap: 3px;
    flex-direction: column;
    cursor: pointer;
}

.menu span{
    width: 30px;
    height: 5px;
    background-color: var(--red-color);
}



@media (min-width: 901px) {
    .header-section header{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width: 900px) {
    .menu{
        display: flex;
    }


    .header-section header nav{
        display: none;
        position: absolute;
        background-color: #353535;
        right: 0;
        top: 70px;
        height: 300rem;
        padding: 0 80rem;
        text-align: center;
        border-radius: 10rem;
        flex-direction: column;
        gap: 50rem;

    }

    .header-section header nav .gif-menu{
        display: flex;
    }

    .header-section header nav ul li::after{
        margin: 0 auto;
    }

    .header-section header nav ul{
        flex-direction: column;
    }

    .header-section header{
        grid-template-columns: 1fr 1fr;
    }

    .hero-section .box-hero h1{
        width: 100%;
    }

    .quadrinhos-section{
        height: auto;
    }
  
}