/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Bebas+Neue&family=Staatliches&family=Teko&display=swap');


/* FIM FONTES */


/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html{
    font-size: 6.25%;
    scroll-behavior: smooth;
    cursor: url('../img/cursor.png'), auto;
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Staatliches';
}

h1, h2, h3, h4, h5, h6, a, p, button{
    color: #fff;
}

h2{
    font-size: 36rem;
}

h2::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 75rem;
    height: 3rem;
    border-radius: 10rem;
    background: var(--red-color);

}

/* FIM RESET */



/* VARIÁVEIS */

:root{
    --red-color: #EB3737;
}
/* FIM RESET */


/* CLASSES REUTILIZAVÉIS */

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

}

.centralizado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.titulo {
    font-size: 36rem;
}


.links {
    font-size: 18rem;
    font-family: 'Arimo', sans-serif;
}


.btn {
    font-family: 'Teko';
    background: var(--red-color);
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #000;
}

/* FIM CLASSES REUTILIZAVÉIS */





/* HEADER  */

.header-section {
    position: fixed;
    width: 100%;
    margin-bottom: 80rem;
    transition: all 0.5s ease-in-out;
    z-index: 10;

}

.header-section header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'Logo' 'NavBar' 'Icon';
    justify-content: space-around;
    align-items: center;
    padding: 20rem;
}

.header-section header h1 {
    grid-area: 'Logo';
}


.header-section header nav {
    grid-area: 'NavBar';
}


.header-section header nav ul {
    display: flex;
    justify-content: center;
    gap: 15rem;
}


.header-section header .img-header {
    grid-area: 'Icon';
    display: flex;
    justify-content: end;

}


.header-section header nav ul li::after {
    content: '';
    display: block;
    padding: 5em;
    margin: 2rem 5rem;
    width: 0;
    height: 2rem;
    transition: all 0.5s ease-in-out;
    border: 50%;
}


.header-section header nav ul li:hover::after {
    background-color: var(--red-color);
    width: 50rem;
}


.header-section header img {
    transition: all 0.7s ease-in-out;
    cursor: pointer;

}


.header-section header img:hover {
    transform: rotate(360deg);
}


.header-section header nav .gif-menu {
    display: none;
    background-color: aqua;
    width: 90rem;
    height: 90rem;
    border-radius: 50%;
    background-color: #B9171B;

}

.header-section header nav .gif-menu img {
    width: 40rem;
}


/* FIM HEADER  */


/* HERO */

.hero-section {
    height: 100vh;
    background-image: url('../img/FundoHero.png');
    background-size: cover;
    background-position: center center;
}


.hero-section .box-hero {
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.hero-section .box-hero h1 {
    width: 55%;
    font-size: 60rem;
}

.hero-section .box-hero p {
    font-size: 18rem;
    font-family: 'Arimo';
    margin: 20rem 0;
    font-weight: 700;
}

.btn-hero {
    font-size: 24px;
    font-family: 'Teko';
    background: var(--red-color);
    border: none;
    padding: 10rem 15rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-hero:hover {
    background-color: #000;
}

/* FIM HERO */




/* QUADRINHOS */
.quadrinhos-section {
    height: 100vh;
    background-color: #242424;
    position: relative;
    padding: 150rem 0 50rem 0;

}


.quadrinhos-section .box-quadrinhos {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 30rem;
}


.quadrinhos-section .box-quadrinhos .box-cards {
    gap: 30rem;
    flex-wrap: wrap;
}

.quadrinhos-section .box-quadrinhos .card {
    width: 230rem;
    height: 350rem;
    background-color: #212121;
    border-radius: 10rem;
    padding: 15rem;
    cursor: pointer;

}


.box-quadrinhos .card .imagem-quadrinho {
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-position: center center;
    background-size: cover;
}


.card .imagem-quadrinho .info-hover {
    gap: 100rem;
    flex-direction: column;
    padding: 10rem;
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    border-radius: 10rem;
    background-position: center center;
    background-size: cover;
    background-blend-mode: luminosity;
    transition: all 0.5s ease-in-out;
}

.card .imagem-quadrinho .info-hover:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 1);

}


.card .imagem-quadrinho .info-hover h3 {
    font-size: 24rem;
    font-family: 'Teko';
    word-break: break-all;
    font-weight: 700;
    border-radius: 5rem;
    background: rgba(0, 0, 0, 1);
    padding: 10rem;
    text-transform: uppercase;

}

.card .imagem-quadrinho .info-hover a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 5rem 10rem;
}


/* FIM QUADRINHOS */


/* PERSONAGENS */

.personagens-section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/fundo-pesonagens.png);
    background-position: center center;
    background-size: cover;

}



.personagens-section .box-personagens {
    padding: 150rem 0 0 0;
    position: absolute;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 30rem;

}


.personagens-section .box-personagens img{
    width: 200rem;
}

/* FIM PERSONAGENS */


/* CRIADORES */
.criadores-section{ 
    height: 100vh;
    background-color: #212121;
    padding: 150rem 0 50rem 0;
}


.criadores-section .box-criadores{
    flex-flow: column wrap;

}


.criadores-section .box-criadores img{
    width: 500rem;
}

.criadores-section .box-criadores .conteudo-criadores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100rem;
    margin-top: 30rem;
}


#arrow-left{
    transform: rotate(180deg);
}

#arrow-right, #arrow-left{
    width: 50rem;
    height: 50rem;
    cursor: pointer;
}


.card-mais-btn{
    display: flex;
    gap: 20rem;
    align-items: center;
    height: 100%;
}
.box-criadores .conteudo-criadores .card-criador{
    width: 300rem;
    height: 350rem;
    background-color: #fff;
    border-radius: 10rem;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    
}

.conteudo-criadores .card-criador span{
    width: 100%;
    height: 120rem;
    background-color: var(--red-color);
    position: absolute;
    top: 0;
    border-radius: 10rem 10rem 0 0 ;
    z-index: 1;
}

.conteudo-criadores .card-criador .box-img{
    background-color: #000;
    width: 150rem;
    height: 150rem;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0;
    margin-top: 60rem;
}


.conteudo-criadores .card-criador .info-criador{
    margin-top: 150rem;
    font-family: 'teko';
    font-size: 24rem;
    
}


.card-criador .info-criador h3, 
.card-criador .info-criador a{
    color: #000;
    margin: 25rem;
} 


.card-criador .info-criador a{
    border: 3rem solid #000;
    padding: 5rem 10rem;
    font-weight: 700;
    transition: all 0.5s ;

}

.card-criador .info-criador a:hover{
    background-color: #000;
    color: #fff;
}

/* FIM CRIADORES  */

/* FOOTER */

.footer-section{
    width: 100%;
    height: 75rem;
    background-color: #000;
}


footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


footer p{
    font-size: 16rem;
    font-family: 'arimo';
}



.redes i{
   font-size: 30rem;
    color: #fff;
    margin: 5rem;

}

/* FIM FOOTER */


/* MODAL  QUADRINHOS*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


.modal {
    background-color: #EB3737;
    display: none;
    position: absolute;
    z-index: 5;
    width: 70%;
    padding: 50rem;
    align-items: center;
    gap: 30rem;
    border-radius: 10rem;
    flex-wrap: wrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    animation-name: modal-animation;
    animation-duration: 0.3s;
}


@keyframes modal-animation {
    0% {
        opacity: 0;

    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.desc {
    width: 500rem;
}




.conteudo-modal h3 {
    font-size: 24rem;

}



.conteudo-modal p {
    font-size: 18rem;
    font-family: 'Staatliches';
    color: #000;
}


.fecha-modal {
    position: absolute;
    right: 0;
    margin-right: 10rem;
    margin-top: 10rem;
    top: 0;
}


.fecha-modal i {
    font-size: 40rem;
    font-weight: 700;
    color: #000;
    transition: all .5s;
}

.fecha-modal i:hover {
    color: #fff;
}


@media (max-width: 900px) {
    .modal{
        width: 95%;
    }
}

/* FIM MODAL PERSONAGENS */

/* RESPONSIVIDADE */

.menu{
    display: none;
    width: 100px;
    gap: 3px;
    flex-direction: column;
    cursor: pointer;
}

.menu span{
    width: 30px;
    height: 5px;
    background-color: var(--red-color);
}



@media (min-width: 901px) {
    .header-section header{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width: 1350px) {
    .criadores-section .box-criadores img{
        width: 350rem;
    }

    .box-criadores .conteudo-criadores .card-criador{
        width: 300rem;
    }
}

@media (max-width: 900px) {
    .menu{
        display: flex;
    }


    .header-section header nav{
        display: none;
        position: absolute;
        background-color: #353535;
        right: 0;
        top: 70px;
        height: 300rem;
        padding: 0 80rem;
        text-align: center;
        border-radius: 10rem;
        flex-direction: column;
        gap: 50rem;

    }

    .header-section header nav .gif-menu{
        display: flex;
    }

    .header-section header nav ul li::after{
        margin: 0 auto;
    }

    .header-section header nav ul{
        flex-direction: column;
    }

    .header-section header{
        grid-template-columns: 1fr 1fr;
    }

    .hero-section .box-hero h1{
        width: 100%;
    }

    .quadrinhos-section,
    .criadores-section{
        height: auto;
    }

    .modal{
        justify-content: center;
    }

    .modal .desc{
        width: auto;
    }
    
    .box-criadores .conteudo-criadores .card-criador{
        width: 230rem;
    }

    .card-mais-btn{
        gap: 5rem;
    }

    .footer-section{
        height: auto;
        padding: 20rem;
    }

    footer{
        gap: 30rem;
    }
  
}

/* FIM RESPONSIVIDADE */


/* DADOS API */


.img-api-personagem{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #fff;
    display: none;
    background-size: center center;
    background-size: cover;

}

.modal img{
    width: 200rem;
    border-radius: 10rem;
}


