/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Bebas+Neue&family=Staatliches&family=Teko&display=swap');

/* FIM FONTES */


/* CLASSES REUTILIZAVÉIS */

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

}

.centralizado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.titulo {
    font-size: 36rem;
}


.links {
    font-size: 18rem;
    font-family: 'Arimo', sans-serif;
}


.btn {
    font-family: 'Teko';
    background: var(--red-color);
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #000;
}

/* FIM CLASSES REUTILIZAVÉIS */





/* HEADER  */

.header-section {
    position: fixed;
    width: 100%;
    margin-bottom: 80rem;
    transition: all 0.5s ease-in-out;
    z-index: 5;

}

.header-section header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'Logo' 'NavBar' 'Icon';
    justify-content: space-around;
    align-items: center;
    padding: 20rem;
}

.header-section header h1 {
    grid-area: 'Logo';
}


.header-section header nav {
    grid-area: 'NavBar';
}


.header-section header nav ul {
    display: flex;
    justify-content: center;
    gap: 15rem;
}


.header-section header .img-header {
    grid-area: 'Icon';
    display: flex;
    justify-content: end;

}


.header-section header nav ul li::after {
    content: '';
    display: block;
    padding: 5em;
    margin: 2rem 5rem;
    width: 0;
    height: 2rem;
    transition: all 0.5s ease-in-out;
    border: 50%;
}


.header-section header nav ul li:hover::after {
    background-color: var(--red-color);
    width: 50rem;
}


.header-section header img {
    transition: all 0.7s ease-in-out;
    cursor: pointer;

}


.header-section header img:hover {
    transform: rotate(360deg);
}


.header-section header nav .gif-menu {
    display: none;
    background-color: aqua;
    width: 90rem;
    height: 90rem;
    border-radius: 50%;
    background-color: #B9171B;

}

.header-section header nav .gif-menu img {
    width: 40rem;
}


/* FIM HEADER  */


/* HERO */

.hero-section {
    height: 100vh;
    background-image: url('../img/FundoHero.png');
    background-size: cover;
    background-position: center center;
}


.hero-section .box-hero {
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.hero-section .box-hero h1 {
    width: 55%;
    font-size: 60rem;
}

.hero-section .box-hero p {
    font-size: 18rem;
    font-family: 'Arimo';
    margin: 20rem 0;
    font-weight: 700;
}

.btn-hero {
    font-size: 24px;
    font-family: 'Teko';
    background: var(--red-color);
    border: none;
    padding: 10rem 15rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-hero:hover {
    background-color: #000;
}

/* FIM HERO */

/* QUADRINHOS */
.quadrinhos-section {
    height: 100vh;
    background-color: #242424;
 
    padding: 50rem;

}


.quadrinhos-section .box-quadrinhos {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 30rem;
}


.quadrinhos-section .box-quadrinhos .box-cards {
    gap: 30rem;
    flex-wrap: wrap;
}

.quadrinhos-section .box-quadrinhos .card {
    width: 230rem;
    height: 350rem;
    background-color: #212121;
    border-radius: 10rem;
    padding: 15rem;
    cursor: pointer;

}


.box-quadrinhos .card .imagem-quadrinho {
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-image: url('../img/card-teste.png');
    background-position: center center;
    background-size: cover;
}


.card .imagem-quadrinho .info-hover {
    gap: 100rem;
    flex-direction: column;
    padding: 10rem;
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    border-radius: 10rem;
    background-image: url('../img/card-teste.png');
    background-position: center center;
    background-size: cover;
    background-blend-mode: luminosity;
    transition: all 0.5s ease-in-out;
}

.card .imagem-quadrinho .info-hover:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 1);

}


.card .imagem-quadrinho .info-hover h3 {
    font-size: 24rem;
    font-family: 'Teko';
    word-break: break-all;
    font-weight: 700;
    border-radius: 5rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10rem;

}

.card .imagem-quadrinho .info-hover a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 5rem 10rem;
}


/* FIM QUADRINHOS */


/* PERSONAGENS */

.personagens-section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../img/fundo-pesonagens.png);
    background-position: center center;
    background-size: cover;

}



.personagens-section .box-personagens {
    padding: 150rem 0 0 0;
    position: absolute;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 30rem;

}


.personagens-section .box-personagens img{
    width: 250rem;
}

/* FIM PERSONAGENS */


/* CRIADORES */
.criadores-section{ 
    height: 100vh;
    background-color: #212121;
    padding: 150rem 0 50rem 0;
}


.criadores-section .box-criadores{
    flex-flow: column wrap;

}


.criadores-section .box-criadores img{
    width: 500rem;
}

.criadores-section .box-criadores .conteudo-criadores{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100rem;
    margin-top: 30rem;
}


#arrow-left{
    transform: rotate(180deg);
}

#arrow-right, #arrow-left{
    width: 50rem;
    height: 50rem;
    cursor: pointer;
}


.card-mais-btn{
    display: flex;
    gap: 20rem;
    align-items: center;
    height: 100%;
}
.box-criadores .conteudo-criadores .card-criador{
    width: 350rem;
    height: 400rem;
    background-color: #fff;
    border-radius: 10rem;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.conteudo-criadores .card-criador span{
    width: 100%;
    height: 120rem;
    background-color: var(--red-color);
    position: absolute;
    top: 0;
    border-radius: 10rem 10rem 0 0 ;
    z-index: 1;
}

.conteudo-criadores .card-criador .box-img{
    background-color: #000;
    width: 150rem;
    height: 150rem;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0;
    margin-top: 60rem;
}


.conteudo-criadores .card-criador .info-criador{
    margin-top: 150rem;
    font-family: 'teko';
    font-size: 24rem;
    
}


.card-criador .info-criador h3, 
.card-criador .info-criador a{
    color: #000;
    margin: 25rem;
} 


.card-criador .info-criador a{
    border: 3rem solid #000;
    padding: 5rem 10rem;
    font-weight: 700;
    transition: all 0.5s ;

}

.card-criador .info-criador a:hover{
    background-color: #000;
    color: #fff;
}

/* FIM CRIADORES  */